.container {
  width: 320px;
  margin: 0 auto;
}
@media (min-width:768px) {
  .container {
    width: 640px;
  }
}
@media (min-width:1200px) {
  .container {
    width: 960px;
  }
}
* {
  box-sizing: border-box;
}
body {
  font-size: 18px;
  line-height: 27px;
  font-family: Arial, sans-serif;
  color: #f7f4f1;
  font-style: normal;
  background-color: #292929;
}
img {
  max-width: 100%;
  height: auto;
}
.main-header {
  min-height: 398px;
}
.main-header__logo {
  min-height: 85px;
}
@media (min-width:768px) {
  .main-header {
    position: relative;
    min-height: 71px;
    padding-bottom: 400px;
  }
  .main-header__logo {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 400px;
  }
}
@media (min-width:1200px) {
  .main-header {
    padding-bottom: 648px;
  }
  .main-header__logo {
    height: 648px;
  }
}
.main-nav__list,
.main-nav__user-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav {
  width: 320px;
  margin: 0 auto;
}
@media (min-width:768px) {
  .main-nav {
    width: auto;
    min-height: 70px;
    margin: 0;
  }
  .main-nav__wrapper {
    width: 320px;
    margin: 0 auto;
  }
  .main-nav__wrapper::after {
    content: "";
    display: table;
    clear: both;
  }
  .main-nav__list {
    float: left;
    width: 570px;
  }
  .main-nav__user-list {
    float: right;
    width: 60px;
  }
}
@media (min-width:768px) and (min-width:768px) {
  .main-nav__wrapper {
    width: 640px;
  }
}
@media (min-width:768px) and (min-width:1200px) {
  .main-nav__wrapper {
    width: 960px;
  }
}
@media (min-width:1200px) {
  .main-nav__list {
    width: 780px;
  }
  .main-nav__user-list {
    width: 160px;
  }
}
.stats {
  width: 320px;
  margin: 0 auto;
}
@media (min-width:768px) {
  .stats {
    width: 640px;
  }
}
@media (min-width:1200px) {
  .stats {
    width: 960px;
  }
}
.stats__header {
  min-height: 183px;
  padding: 32px 39px;
}
@media (min-width:768px) {
  .stats {
    position: relative;
    z-index: 1;
    margin-top: -185px;
  }
  .stats__header {
    padding: 36px 40px;
  }
  .stats__header::after {
    content: "";
    display: table;
    clear: both;
  }
  .stats__items {
    display: block;
  }
  .stats__items::after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width:1200px) {
  .stats {
    margin-top: -160px;
  }
  .stats::after {
    content: "";
    display: table;
    clear: both;
  }
  .stats__header {
    float: left;
    width: 320px;
    padding: 36px 42px 26px 42px;
  }
  .stats__items {
    float: right;
  }
}
.advantage__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-top: 25px;
}
@media (min-width:768px) {
  .advantage__wrapper {
    width: 640px;
  }
}
@media (min-width:1200px) {
  .advantage__wrapper {
    width: 960px;
  }
}
.advantage__item {
  min-height: 375px;
  padding: 0 46px;
  padding-top: 129px;
  margin-bottom: 43px;
}
.advantage__item:nth-child(n+2) {
  display: none;
}
@media (min-width:768px) {
  .advantage__wrapper {
    padding-top: 45px;
  }
  .advantage__item:nth-child(n+2) {
    display: block;
  }
  .advantage__item {
    margin: 0 30px;
    padding-left: 130px;
    padding-bottom: 39px;
    margin-bottom: 40px;
  }
  .advantage__item:last-child {
    margin-bottom: 0;
  }
}
