.container {
  width: 320px;
  margin: 0 auto;
}
@media (min-width:768px) {
  .container {
    width: 640px;
  }
}
@media (min-width:1200px) {
  .container {
    width: 960px;
  }
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #f7f4f1;
  font-style: normal;
  background-color: #292929;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@font-face {
  font-weight: normal;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("fonts/ptsans/web/ptsansnarrow.woff2") format("woff2"), url("fonts/ptsans/web/ptsansnarrow.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("fonts/ptsans/web/ptsansnarrowbold.woff2") format("woff2"), url("fonts/ptsans/web/ptsansnarrowbold.woff") format("woff");
}
.main-header {
  min-height: 398px;
}
.main-header__logo {
  min-height: 85px;
  text-align: center;
}
.page-header__logo img {
  width: 226px;
  height: 85px;
}
@media (min-width:768px) {
  .main-header {
    position: relative;
    min-height: 71px;
    padding-bottom: 400px;
    background-color: #000000;
  }
  .main-header__logo {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 400px;
    background-color: #000000;
    background-image: url("/img/back-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center -9px;
    background-size: cover;
  }
  .main-header__logo img {
    position: absolute;
    bottom: 257px;
    left: 50%;
    width: 370px;
    height: auto;
    transform: translateX(-50%);
  }
}
@media (min-width:1200px) {
  .main-header {
    padding-bottom: 648px;
  }
  .main-header__logo {
    height: 648px;
    background-position: center 0px;
    background-size: cover;
  }
  .main-header__logo img {
    bottom: 438px;
  }
}
.main-nav__list,
.main-nav__user-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav {
  width: 320px;
  margin: 0 auto;
}
@media (min-width:768px) {
  .main-nav {
    width: auto;
    min-height: 70px;
    margin: 0;
  }
  .main-nav__wrapper {
    width: 320px;
    margin: 0 auto;
  }
  .main-nav__wrapper::after {
    content: "";
    display: table;
    clear: both;
  }
  .main-nav__list {
    float: left;
    width: 570px;
  }
  .main-nav__user-list {
    float: right;
    width: 60px;
  }
}
@media (min-width:768px) and (min-width:768px) {
  .main-nav__wrapper {
    width: 640px;
  }
}
@media (min-width:768px) and (min-width:1200px) {
  .main-nav__wrapper {
    width: 960px;
  }
}
@media (min-width:1200px) {
  .main-nav__list {
    width: 780px;
  }
  .main-nav__user-list {
    width: 160px;
  }
}
.stats {
  width: 320px;
  margin: 0 auto;
}
@media (min-width:768px) {
  .stats {
    width: 640px;
  }
}
@media (min-width:1200px) {
  .stats {
    width: 960px;
  }
}
.stats__header {
  min-height: 183px;
  padding: 32px 39px;
}
@media (min-width:768px) {
  .stats {
    position: relative;
    z-index: 1;
    margin-top: -185px;
  }
  .stats__header {
    padding: 36px 40px;
  }
  .stats__header::after {
    content: "";
    display: table;
    clear: both;
  }
  .stats__items {
    display: block;
  }
  .stats__items::after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width:1200px) {
  .stats {
    margin-top: -160px;
  }
  .stats::after {
    content: "";
    display: table;
    clear: both;
  }
  .stats__header {
    float: left;
    width: 320px;
    padding: 36px 42px 26px 42px;
  }
  .stats__items {
    float: right;
  }
}
.advantage__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-top: 25px;
}
@media (min-width:768px) {
  .advantage__wrapper {
    width: 640px;
  }
}
@media (min-width:1200px) {
  .advantage__wrapper {
    width: 960px;
  }
}
.advantage__item {
  min-height: 375px;
  padding: 0 46px;
  padding-top: 129px;
  margin-bottom: 43px;
}
.advantage__item:nth-child(n+2) {
  display: none;
}
@media (min-width:768px) {
  .advantage__wrapper {
    padding-top: 45px;
  }
  .advantage__item:nth-child(n+2) {
    display: block;
  }
  .advantage__item {
    margin: 0 30px;
    padding-left: 130px;
    padding-bottom: 39px;
    margin-bottom: 40px;
  }
  .advantage__item:last-child {
    margin-bottom: 0;
  }
}
@media (min-width:1200px) {
  .advantage__items {
    display: table;
    width: 100%;
  }
  .advantage__item:nth-child(n+2) {
    display: table-cell;
  }
  .advantage__wrapper {
    padding-top: 79px;
    padding-bottom: 59px;
  }
  .advantage__item {
    display: table-cell;
    width: 320px;
    margin: 0;
    padding: 0 45px;
    padding-top: 130px;
  }
}
.news__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 28px;
}
@media (min-width:768px) {
  .news__wrapper {
    width: 640px;
  }
}
@media (min-width:1200px) {
  .news__wrapper {
    width: 960px;
  }
}
.news__title {
  margin-bottom: 34px;
}
.news__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.news__item {
  margin: 0 20px;
  margin-bottom: 17px;
  padding: 25px 0px 25px 70px;
}
.news__item:nth-child(n+3) {
  display: none;
}
@media (min-width:768px) {
  .news__wrapper {
    padding-top: 83px;
    padding-bottom: 36px;
  }
  .news__title {
    margin-right: 200px;
    margin-bottom: 60px;
  }
  .news__list {
    font-size: 0;
  }
  .news__item {
    display: inline-block;
    vertical-align: top;
    width: 320px;
    padding: 0px 40px 0px 70px;
    margin: 0;
  }
}
@media (min-width:1200px) {
  .news__wrapper {
    padding-top: 119px;
    padding-bottom: 43px;
  }
  .news__title {
    margin-left: 72px;
  }
  .news__item:nth-child(n+3) {
    display: inline-block;
  }
}
.reviews__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-top: 30px;
}
@media (min-width:768px) {
  .reviews__wrapper {
    width: 640px;
  }
}
@media (min-width:1200px) {
  .reviews__wrapper {
    width: 960px;
  }
}
.reviews__title {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}
.reviews__items {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: 30px;
}
.reviews__item {
  margin: 0 20px;
  padding: 0px 20px 30px 70px;
}
.reviews__item:nth-child(n+2) {
  display: none;
}
.reviews__btn {
  display: none;
}
@media (min-width:768px) {
  .reviews__wrapper {
    padding-top: 37px;
    padding-bottom: 70px;
  }
  .reviews__title {
    margin-bottom: 45px;
    margin-right: 200px;
  }
  .reviews__items {
    padding-bottom: 0px;
    font-size: 0;
  }
  .reviews__item {
    display: inline-block;
    width: 540px;
    margin: 0;
    padding: 35px 30px 40px 140px;
  }
  .reviews__btn {
    display: inline-block;
    width: 50px;
  }
}
@media (min-width:1200px) {
  .reviews__wrapper {
    padding-bottom: 46px;
  }
  .reviews__items {
    padding-bottom: 52px;
  }
  .reviews__item {
    width: 840px;
    margin: 0 21px;
    padding-left: 320px;
  }
}
.main-footer__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-top: 35px;
}
@media (min-width:768px) {
  .main-footer__wrapper {
    width: 640px;
  }
}
@media (min-width:1200px) {
  .main-footer__wrapper {
    width: 960px;
  }
}
.main-footer__wrapper::after {
  content: "";
  display: table;
  clear: both;
}
.main-footer__contacts {
  margin: 0 20px;
  padding: 38px 0px 25px 0px;
}
.main-footer__social {
  font-size: 0;
  margin-bottom: 35px;
}
.social-btn {
  display: inline-block;
  width: 106.6px;
  font-size: 18px;
  line-height: 27px;
}
.main-footer__corypting {
  margin: 0 20px;
}
@media (min-width:768px) {
  .main-footer__wrapper {
    position: relative;
    padding: 53px 0px 60px 0px;
  }
  .main-footer__contacts {
    width: 320px;
    padding: 0;
    margin: 0;
  }
  .main-footer__corypting {
    position: absolute;
    width: 160px;
    margin: 0;
    top: 53px;
    right: 0;
  }
  .main-footer__social {
    margin: 50px 0px 60px 0px;
  }
  .social-btn {
    width: 213.3px;
  }
}
@media (min-width:1200px) {
  .main-footer__social {
    float: left;
    width: 320px;
    padding: 0 73px;
  }
  .social-btn {
    width: 50px;
    height: 50px;
    margin-right: 6px;
  }
  .social-btn:last-child {
    margin-right: 0px;
  }
  .main-footer__corypting {
    float: right;
  }
  .main-footer__contacts {
    float: left;
  }
}
