.container {
  width: 320px;
  margin: 0 auto;
}
@media (min-width:768px) {
  .container {
    width: 640px;
  }
}
@media (min-width:1200px) {
  .container {
    width: 960px;
  }
}
.container-fluid {
  width: auto;
}
@media (min-width:768px) {
  .container-fluid {
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
  }
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #f7f4f1;
  font-style: normal;
  background-color: #292929;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@font-face {
  font-weight: normal;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("fonts/ptsans/web/ptsansnarrow.woff2") format("woff2"), url("fonts/ptsans/web/ptsansnarrow.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("fonts/ptsans/web/ptsansnarrowbold.woff2") format("woff2"), url("fonts/ptsans/web/ptsansnarrowbold.woff") format("woff");
}
.main-header__logo {
  min-height: 85px;
  text-align: center;
}
.main-header__logo img {
  width: 226px;
  height: 85px;
}
@media (min-width:768px) {
  .main-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    background-color: #000000;
  }
  .main-header__logo {
    -ms-flex-order: 2;
        order: 2;
    width: 100%;
    height: 400px;
    background-color: #000000;
    background-image: url("/img/back-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center -9px;
    background-size: cover;
  }
  .main-header__logo img {
    position: absolute;
    left: 50%;
    width: 370px;
    height: auto;
    transform: translateX(-50%);
  }
}
@media (min-width:1200px) {
  .main-header__logo {
    height: 648px;
    background-position: center 0px;
    background-size: cover;
  }
  .main-header__logo img {
    bottom: 438px;
  }
}
.main-nav__list,
.main-nav__user-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav {
  position: relative;
  width: auto;
  min-height: 50px;
  margin: 0 auto;
  background-color: #826550;
}
.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 70px;
  height: 50px;
  font-size: 0;
  background-color: #6a4d38;
  cursor: pointer;
  border: none;
}
.main-nav__toggle:hover {
  background-color: #624530;
}
.main-nav__toggle:active {
  background-color: #624530;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  height: 2px;
  width: 36px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff,
    		    0 16px 0 0 #ffffff;
}
.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3);
}
.main-nav--opened .main-nav__toggle {
  top: 0;
  left: 0;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}
.main-nav__link {
  display: block;
  padding: 12px 20px 13px 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #826550;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f;
}
.main-nav__link[href]:hover {
  background-color: #755a46;
  border-top-color: #755a46;
}
.main-nav__link[href]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6a4d38;
  border-top-color: #6a4d38;
}
.main-nav__user-link {
  position: relative;
  background-color: #6a4d38;
  font-weight: normal;
  padding-left: 48px;
}
.main-nav__user-link::before {
  content: "";
  position: absolute;
  top: 15.5px;
  left: 20px;
  width: 16px;
  height: 16px;
  background-image: url("/img/login.png");
}
@media (max-width:767px) {
  .main-nav--closed .main-nav__item {
    display: none;
  }
  .main-nav--closed .main-nav__item--active {
    display: block;
  }
  .main-nav--closed .main-nav__item--active .main-nav__link {
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
  }
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    height: 80vh;
    background-color: #6a4d38;
  }
  .main-nav--opened .main-nav__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    width: 5px;
    height: 100%;
    box-shadow: insert 4px 0 7px -2px rgba(0, 0, 0, 0.4);
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    height: auto;
  }
  .main-nav--nojs .main-nav__item {
    display: block;
  }
  .main-nav--nojs .main-nav__item--active .main-nav__link {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }
}
@media (min-width:768px) {
  .main-nav {
    width: auto;
    min-height: 70px;
    margin: 0;
    background-color: #000000;
  }
  .main-nav__wrapper {
    width: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .main-nav__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-positive: 1;
        flex-grow: 1;
  }
  .main-nav__user-list {
    width: 60px;
  }
  .main-nav__item {
    float: left;
    margin-right: 32px;
  }
  .main-nav__item:last-child {
    margin-right: 0;
  }
  .main-nav__item--active {
    position: relative;
  }
  .main-nav__item--active::after {
    content: "";
    position: absolute;
    bottom: -3px;
    right: 0;
    left: 0;
    height: 3px;
    background-color: #826550;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__link {
    padding: 0;
    padding-top: 26px;
    padding-bottom: 26px;
    background: none;
    border: none;
  }
  .main-nav__user-link {
    font-size: 0;
    padding: 0;
    width: 60px;
    min-height: 70px;
  }
  .main-nav__user-link::before {
    top: 28px;
    left: 12px;
  }
}
@media (min-width:768px) and (min-width:768px) {
  .main-nav__wrapper {
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
  }
}
@media (min-width:1200px) {
  .main-nav__user-list {
    width: auto;
    max-width: 160px;
  }
  .main-nav__item {
    margin-right: 0;
  }
  .main-nav__item--active::after {
    right: 30px;
    left: 30px;
  }
  .main-nav__link {
    padding-right: 30px;
    padding-left: 30px;
  }
  .main-nav__user-link {
    position: relative;
    width: auto;
    height: auto;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    padding: 26px 30px 27px 50px;
  }
  .main-nav__user-link::before {
    left: 15px;
  }
}
.stats {
  width: auto;
}
@media (min-width:768px) {
  .stats {
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
  }
}
.stats__header {
  min-height: 185px;
  padding: 32px 39px;
  background-color: #ffffff;
  color: #000000;
}
.stats__slogan {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}
.stats__intro {
  font-size: 20px;
  line-height: 27px;
  margin: 0;
  margin-top: 16px;
}
.stats__legend {
  font-size: 20px;
  line-height: 27px;
}
.stats__legend--top {
  display: none;
}
.stats__legend--bottom {
  display: block;
  padding-top: 16px;
  padding-bottom: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
}
.stats__legend sup {
  top: -0.25em;
  font-size: 90%;
}
.stats__items {
  width: 100%;
  border-collapse: collapse;
}
.stats__item {
  color: #ffffff;
  background-color: #404040;
}
.stats__item:nth-child(2) {
  background-color: #4e4e4e;
}
.stats__item:nth-child(3) {
  background-color: #353535;
}
.stats__item:nth-child(4) {
  background-color: #404040;
}
.stats__value {
  width: 50%;
  vertical-align: top;
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
  text-align: left;
  padding: 20px;
  padding-right: 0;
}
.stats__value sup {
  top: -0.25em;
  font-size: 60%;
  margin-left: 5px;
}
.stats__field {
  width: 50%;
  vertical-align: top;
  font-size: 18px;
  line-height: 18px;
  text-align: right;
  padding: 20px;
  padding-left: 0;
}
@media (min-width:768px) {
  .stats {
    position: relative;
    z-index: 1;
    margin-top: -185px;
  }
  .stats__header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    padding: 30px 0;
    min-height: 185px;
  }
  .stats__header::before {
    content: "";
    position: absolute;
    top: 27px;
    left: -15px;
    border: 15px solid transparent;
    border-bottom-color: #ffffff;
    transform: rotate(45deg);
  }
  .stats__slogan {
    width: 50%;
    padding-left: 40px;
    padding-right: 76px;
    padding-bottom: 10px;
    font-size: 40px;
    line-height: 40px;
    text-transform: none;
  }
  .stats__intro {
    width: 37.5%;
    margin: 0;
    padding-left: 32px;
  }
  .stats__items {
    display: block;
  }
  .stats__items::after {
    content: "";
    display: table;
    clear: both;
  }
  .stats__items tbody {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .stats__legend--bottom {
    display: none;
  }
  .stats__legend--top {
    display: block;
    width: 50%;
    padding-left: 40px;
    max-width: 320px;
    color: rgba(0, 0, 0, 0.3);
  }
  .stats__item {
    display: block;
    width: 50%;
    padding: 24px 37px;
    padding-bottom: 30px;
  }
  .stats__value {
    display: block;
    width: auto;
    font-size: 72px;
    line-height: 72px;
    padding: 0;
    padding-bottom: 7px;
  }
  .stats__field {
    display: block;
    width: auto;
    font-size: 20px;
    line-height: 27px;
    text-align: left;
    padding: 0;
  }
  .stats__field br {
    display: none;
  }
}
@media (min-width:1200px) {
  .stats {
    margin-top: -160px;
    display: -ms-flexbox;
    display: flex;
  }
  .stats__header {
    -ms-flex-direction: column;
        flex-direction: column;
    width: 320px;
    padding: 30px 42px 26px 42px;
  }
  .stats__items {
    width: 640px;
  }
  .stats__slogan {
    width: auto;
    padding: 0;
    margin-bottom: 35px;
  }
  .stats__intro {
    width: auto;
    padding: 0;
    margin-bottom: 35px;
  }
  .stats__legend--top {
    width: auto;
    margin-top: auto;
    padding: 0;
  }
}
.advantage__wrapper {
  width: auto;
  padding-top: 25px;
}
@media (min-width:768px) {
  .advantage__wrapper {
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
  }
}
.advantage__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantage__item {
  position: relative;
  min-height: 375px;
  padding: 0 44px;
  padding-top: 129px;
  margin-bottom: 43px;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}
.advantage__name {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
}
.advantage__item:nth-child(n+2) {
  display: none;
}
.advantage__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 37%;
  background-repeat: no-repeat;
  width: 96px;
  height: 94px;
}
.advantage__item--fast::before {
  background-image: url("../img/scissors.svg");
}
.advantage__item--cool::before {
  background-image: url("../img/advantage-2.svg");
}
.advantage__item--expensive::before {
  background-image: url("../img/advantage-3.svg");
}
@media (min-width:768px) {
  .advantage__wrapper {
    padding-top: 0;
  }
  .advantage__item:nth-child(n+2) {
    display: block;
  }
  .advantage__item {
    min-height: auto;
    text-align: left;
    padding-top: 45px;
    margin: 0 30px;
    padding-left: 130px;
    padding-bottom: 39px;
    margin-bottom: 40px;
  }
  .advantage__item:last-child {
    margin-bottom: 0;
  }
  .advantage__item::before {
    top: 23%;
    left: 0;
  }
  .advantage__item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: red;
    margin: 0 auto;
  }
}
@media (min-width:1200px) {
  .advantage__items {
    display: table;
    width: 100%;
  }
  .advantage__item:nth-child(n+2) {
    display: table-cell;
  }
  .advantage__wrapper {
    padding-top: 79px;
    padding-bottom: 59px;
  }
  .advantage__item {
    display: table-cell;
    width: 320px;
    margin: 0;
    padding: 0 45px;
    padding-top: 130px;
  }
}
.news__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 28px;
}
@media (min-width:768px) {
  .news__wrapper {
    width: 640px;
  }
}
@media (min-width:1200px) {
  .news__wrapper {
    width: 960px;
  }
}
.news__title {
  margin-bottom: 34px;
}
.news__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.news__item {
  margin: 0 20px;
  margin-bottom: 17px;
  padding: 25px 0px 25px 70px;
}
.news__item:nth-child(n+3) {
  display: none;
}
@media (min-width:768px) {
  .news__wrapper {
    padding-top: 83px;
    padding-bottom: 36px;
  }
  .news__title {
    margin-right: 200px;
    margin-bottom: 60px;
  }
  .news__list {
    font-size: 0;
  }
  .news__item {
    display: inline-block;
    vertical-align: top;
    width: 320px;
    padding: 0px 40px 0px 70px;
    margin: 0;
  }
}
@media (min-width:1200px) {
  .news__wrapper {
    padding-top: 119px;
    padding-bottom: 43px;
  }
  .news__title {
    margin-left: 72px;
  }
  .news__item:nth-child(n+3) {
    display: inline-block;
  }
}
.reviews__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-top: 30px;
}
@media (min-width:768px) {
  .reviews__wrapper {
    width: 640px;
  }
}
@media (min-width:1200px) {
  .reviews__wrapper {
    width: 960px;
  }
}
.reviews__title {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}
.reviews__items {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: 30px;
}
.reviews__item {
  margin: 0 20px;
  padding: 0px 20px 30px 70px;
}
.reviews__item:nth-child(n+2) {
  display: none;
}
.reviews__btn {
  display: none;
}
@media (min-width:768px) {
  .reviews__wrapper {
    padding-top: 37px;
    padding-bottom: 70px;
  }
  .reviews__title {
    margin-bottom: 45px;
    margin-right: 200px;
  }
  .reviews__items {
    padding-bottom: 0px;
    font-size: 0;
  }
  .reviews__item {
    display: inline-block;
    width: 540px;
    margin: 0;
    padding: 35px 30px 40px 140px;
  }
  .reviews__btn {
    display: inline-block;
    width: 50px;
  }
}
@media (min-width:1200px) {
  .reviews__wrapper {
    padding-bottom: 46px;
  }
  .reviews__items {
    padding-bottom: 52px;
  }
  .reviews__item {
    width: 840px;
    margin: 0 21px;
    padding-left: 320px;
  }
}
.main-footer__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-top: 35px;
}
@media (min-width:768px) {
  .main-footer__wrapper {
    width: 640px;
  }
}
@media (min-width:1200px) {
  .main-footer__wrapper {
    width: 960px;
  }
}
.main-footer__wrapper::after {
  content: "";
  display: table;
  clear: both;
}
.main-footer__contacts {
  margin: 0 20px;
  padding: 38px 0px 25px 0px;
}
.main-footer__social {
  font-size: 0;
  margin-bottom: 35px;
}
.social-btn {
  display: inline-block;
  width: 106.6px;
  font-size: 18px;
  line-height: 27px;
}
.main-footer__corypting {
  margin: 0 20px;
}
@media (min-width:768px) {
  .main-footer__wrapper {
    position: relative;
    padding: 53px 0px 60px 0px;
  }
  .main-footer__contacts {
    width: 320px;
    padding: 0;
    margin: 0;
  }
  .main-footer__corypting {
    position: absolute;
    width: 160px;
    margin: 0;
    top: 53px;
    right: 0;
  }
  .main-footer__social {
    margin: 50px 0px 60px 0px;
  }
  .social-btn {
    width: 213.3px;
  }
}
@media (min-width:1200px) {
  .main-footer__social {
    float: left;
    width: 320px;
    padding: 0 73px;
  }
  .social-btn {
    width: 50px;
    height: 50px;
    margin-right: 6px;
  }
  .social-btn:last-child {
    margin-right: 0px;
  }
  .main-footer__corypting {
    float: right;
  }
  .main-footer__contacts {
    float: left;
  }
}
